@using ZWave.CommandClasses

@inherits CommandClassComponentBase

<Error Message="@ErrorMessage" Exception="@ErrorException" />

@if (CommandClass != null)
{
    <table class="table table-striped">
        @if (CommandClass.ZWavePlusInfo.HasValue)
        {
            var info = CommandClass.ZWavePlusInfo.Value;

            <tbody>
                <tr>
                    <th scope="row">ZWave Plus Version</th>
                    <td>@info.ZWavePlusVersion</td>
                </tr>
                <tr>
                    <th scope="row">Role Type</th>
                    <td>@info.RoleType</td>
                </tr>
                <tr>
                    <th scope="row">Node Type</th>
                    <td>@info.NodeType</td>
                </tr>
                <tr>
                    <th scope="row">Installer Icon Type</th>
                    <td>@info.InstallerIconType</td>
                </tr>
                <tr>
                    <th scope="row">User Icon Type</th>
                    <td>@info.UserIconType</td>
                </tr>
            </tbody>
        }

        @if (CommandClass.IsCommandSupported(ZWavePlusInfoCommand.Get).GetValueOrDefault())
        {
            <tbody>
                <tr>
                    <th scope="rowgroup" colspan="2">Get</th>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button @onclick="GetAsync">Get</button>
                    </td>
                </tr>
            </tbody>
        }
    </table>
}

@code {
    [Parameter]
    public ZWavePlusInfoCommandClass? CommandClass { get; set; }

    private async Task GetAsync()
        => await RunSafelyAsync(
            async () => await CommandClass!.GetAsync(CancellationToken.None),
            nameof(CommandClass.GetAsync));
}
